[Unit]
Description=Check GitHub main for RPO updates every 2 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
RandomizedDelaySec=15s
Persistent=true
Unit=rpo-autodeploy.service

[Install]
WantedBy=timers.target
